.nextflow*
read-harvester/work/*
read-harvester/results/*
read-harvester/bin/AMBER*
read-harvester/assets/test-*.config
read-harvester/assets/samplesheet-*.csv
read-harvester/assets/samplesheet_*.csv
