// Nextflow configuration file

manifest {
    name                      = 'DNAharvester pipeline'
    author                    = 'Verena Kutschera, Muhammad Bilal Sharif'
    homePage                  = 'https://github.com/NBISweden/DNAharvester'
    description               = 'A novel pipeline for processing and analyzing extremely degraded DNA'
    mainScript                = 'main.nf'
    //  '!>=23.04.1' : Run with version 23.04.1 or higher, otherwise exit.
    nextflowVersion           = '!>=23.04.1'
    version                   = '0.1.1'
}

// Default pipeline parameters
// Override them in assets/custom.config
params {

    // Pipeline inputs

    // Enter full path to samplesheet with sample IDs and paths to fastq files (required)
    samplesheet            = ''
    // Enter path to reference genome assembly (required)
    reference              = ''

    // Optional: if the reads should be mapped to the reference genome assembly concatenated with a decoy genome assembly
    // (e.g. your species' genome plus the human genome) instead of the reference genome assembly alone,
    // enter the path to a fasta file with the reference genome assembly and a decoy genome assembly (e.g. the human genome).
    // A bwa index must be present in the same directory.
    competitive_reference  = ''

    // Pipeline steps to be run (comma-separated list, full list: 'fastq_processing,processed_fastq_qc,mapping,repeat_cpg_masking,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam,stats_output')
    steps                  = 'fastq_processing,processed_fastq_qc,mapping,repeat_cpg_masking,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam,stats_output'

    // Pipeline outputs
    // Enter path to output directory
    outdir                 = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode           = 'copy'


    // Tool specific parameters

    // Fastp
    // Enter minimum read length for a read to be kept after adapter trimming and read merging (default: 20)
    // Optional: set readlength to 'auto', if you want to estimate the lower read length threshold <https://github.com/bilalbioinfo/scripts/blob/main/select_read_len_cuttoff.py>.
    readlength             = '30'

    // bwa-aln
    // Check "config/modules.config" for ancient DNA specific parameters

    // Mapping quality filtering, default '25'
    mq                     = '25'

    // AMBER: samtools view subsample
    // Number of reads to extract for analysis in AMBER with samtools view --subsample
    // For test dataset, set to '1000'. For a standard dataset, set to '1000000'. For refined analysis, set to '10000000'.
    subsample              = '1000000'

    // PRESEQ
    // Set to 'true' to run the preseq lc_extrap analysis on all samples, which predicts the number of unique reads that would be observed as sequencing depth increases.
    preseq                 = 'false'

    // Samtools depth of coverage
    // Enter path to BED file with reference genome positions to include in depth of coverage calculation (e.g. repeat-mask BED file)
    // if intervals left empty '' and 'repeat_cpg_masking' is included in the workflow steps, the generated repeat-masked BED file will be used for depth calculation.
    // '' to run depth calculation on the entire reference genome
    intervals              = ''
    // Set position parameter to '-a' calculates depth of coverage for all positions (including those with zero depth).
    // Change to '' to exclude positions with zero depth.
    positions              = '-a'

    // MultiQC
    multiqc_config         = null
    multiqc_extra_config   = null
    multiqc_logo           = null

}

// Module- (tool-)specific parameter configurations
// If required, override tool-specific parameters here using process selectors,
// i.e. the same syntax as in 'configs/modules.config'
includeConfig 'configs/modules.config'

// Nextflow parameters

// Path to work directory for intermediate files
workDir                    = 'work'

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                     = true

// If run with -profile conda or -profile mamba, provide path to centralized directory with conda environments
conda.cacheDir             = null

// If run with -profile apptainer, provide path to centralized directory with apptainer images
apptainer.cacheDir       = null

// Cluster options
params.clusterOptions      = ''

// Compute project ID for Dardel
params.project             = ''


// setup the error strategy
process {
    errorStrategy = 'finish'
}


// Compute resources from nf-core
includeConfig 'configs/nf-core-defaults.config'

// Profiles for pipeline execution

profiles {

    conda {
        conda.enabled         = true
    }

    mamba {
        conda.enabled         = true
        conda.useMamba        = true
    }

    docker {
        docker.enabled        = true
    }

    singularity {
        singularity.enabled   = true
    }

    apptainer {
        apptainer.enabled     = true
    }

    execution_report {
        timeline {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_timeline.html"
        }
        report {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_report.html"
        }
        trace {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_trace.txt"
        }
        dag {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/pipeline_dag.mmd"
        }
    }

    // Test profile for tiny dataset
    test {
        includeConfig 'configs/test.config'
    }

    // Profiles for the PDC cluster Dardel
    // Profile for genome-wide datasets (ca. human genome size)
    dardel {
        includeConfig 'configs/dardel.config'
    }

    // Profile for test run with tiny dataset
    dardeltest {
        includeConfig 'configs/dardel-test.config'
    }

}
