// Template file for pipeline configuration

// Pipeline parameters

params {

    // Pipeline inputs

    // Enter full path to samplesheet with sample IDs and paths to fastq files (incl. information if single-end or paired-end)
    // TO DO expand samplesheet to include info on strandedness and damage treatment
    samplesheet        = '/cfs/klemming/home/v/verenaku/Private/LTS-L_Dalen_2302/read-harvester/assets/samplesheet_testdata_eager-mammoth.csv'
    // Enter path to reference genome assembly
    reference          = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/eager/reference/Mammoth/Mammoth_MT_Krause.fasta'

    // Pipeline steps to be run (comma-separated list, full list: 'fastq_processing,mapping,processed_fastq_raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam')
    steps              = 'fastq_processing,mapping,processed_fastq_raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam'

    // Pipeline outputs
    // Enter path to output directory
    outdir             = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode       = 'copy'


    // Tool specific parameters
    // Fastp
    // Enter minimum read length for a read to be kept after adapter trimming and read merging (default: 20)
    readlength         = 20

    // bwa-index
    // 'is' for small reference genomes such as mitogenomes, 'bwtsw' for large reference genomes
    algorithm          = 'is'

    // bwa-aln
    // Check "config/modules.config" for ancient DNA specific parameters

    // AMBER: samtools view subsample
    // Number of reads to extract for analysis in AMBER with samtools view --subsample
    // For test dataset, set to 1000. For a standard dataset, set to 1000000. For refined analysis, set to 10000000.
    subsample          = 1000

    // Samtools depth
    // '' to exclude positions with zero depth
    // '-a' to output all positions (including those with zero depth)
    positions          = ''
    // Enter path to BED file with reference genome positions to include in depth calculation (e.g. repeat-mask BED file)
    // '' to run depth calculation on the entire reference genome
    intervals          = ''

}

// Nextflow parameters

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                   = true

// If run with -profile conda or -profile mamba, provide path to centralized directory with conda environments
conda.cacheDir           = null

// If run with -profile singularity or -profile dardel or -profile dardel-testdata, provide path to centralized directory with singularity images
singularity.cacheDir     = null

// Cluster options
params.clusterOptions   = ''

// Compute project ID for Dardel or UPPMAX
params.project           = 'naiss2024-5-54'