// Template file for custom pipeline configuration

// Pipeline parameters

params {

    // Name of the workflow
    workflowname                = ''

    /////////////////////////////////////////////////////////////////
    // Samplesheet and reference genomes
    /////////////////////////////////////////////////////////////////

    // Enter full path to samplesheet with sample IDs and paths to fastq files (required)
    samplesheet                 = ''

    // Enter path to reference genome assembly (required)
    reference                   = ''

    // Optional: if the reads should be mapped to the reference genome assembly concatenated with a decoy genome assembly. (e.g. your species' genome plus the human genome)
    competitive_reference       = ''

    // Optional: mitochondrial reference genome for iterative assembly of mitochondrial DNA using MIA (mapping-iterative-assembler)
    mtDNA_reference             = ''

    // Optional: reference database for mystery sample mapping - likely a large dataset of mitogenomes
    ms_reference_database       = ''

    /////////////////////////////////////////////////////////////////
    // Pipeline steps and outputs
    /////////////////////////////////////////////////////////////////


    // Workflow steps to be executed - Set to 'true' to execute the step, or leave empty to skip the step.

    // Main workflow steps:
    fastq_processing            = 'true'
    processed_fastq_qc          = 'true'
    mapping                     = 'true'
    raw_bam_qc                  = 'true'
    bam_processing              = 'true'
    processed_bam_qc            = 'true'
    random_sampling_bam         = 'true'
    stats_output                = 'true'

    // Bonus workflow steps:
    repeat_cpg_identification   = ''
    variant_calling             = ''
    iterative_assembly          = ''
    mystery_sample              = ''


    // Enter path to output directory
    outdir                      = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode                = 'copy'

    /////////////////////////////////////////////////////////////////
    // FASTQ PROCESSING
    /////////////////////////////////////////////////////////////////

    // Fastp - Enter minimum read length for a read to be kept after adapter trimming and read merging (default: 20)
    // Optional: set readlength to 'auto', if you want to estimate the lower read length threshold <link to github>.
    readlength                  = '30'

    // Kraken2 - Set to 'true' to filter fastq files with Kraken2 database (negative filtering)
    kraken2                     = ''
    // Enter path to Kraken2 database
    kraken2_db                  = ''

    /////////////////////////////////////////////////////////////////
    // MAPPING
    /////////////////////////////////////////////////////////////////

    // Select mapping tool
    mapping_tool                = 'bwa-aln' // Options: 'bwa-aln-mem' and 'bwa-aln' and 'bowtie2'

    // Check "config/modules.config" for ancient DNA specific parameters

    /////////////////////////////////////////////////////////////////
    // Iterative assembly of mitochondrial DNA
    /////////////////////////////////////////////////////////////////

    // Parameters for iterative assembly of mitochondrial DNA using MIA (mapping-iterative-assembler)
    coverage_threshold          = '3'
    call_fraction               = '0.66'
    quality_threshold           = '40'

    /////////////////////////////////////////////////////////////////
    // BAM PROCESSING
    /////////////////////////////////////////////////////////////////

    // Mapping quality filtering, default 25
    mapping_quality             = 25

    // AMBER - Enter number of mapped reads to extract for analysis with samtools view --subsample
    // For a standard dataset, set to '1000000'. For refined analysis, set to '10000000'.
    subsample                   = '1000000'

    // PRESEQ - Set to 'true' to run the preseq lc_extrap analysis on all samples, which predicts the number of unique reads that would be observed as sequencing depth increases.
    preseq                      = ''

    // MapDamage2 - set mapdamage2_rescale to 'true' to rescale the BAM files using MapDamage2 - if not set, only the MapDamage2 plots will be generated.
    mapdamage2_rescale          = ''

    // Set remove_transitions to 'true' to remove transitions from BAM files.
    // For single-stranded libraries, it will only remove C -> T transitions. For double-stranded libraries, it will remove both C -> T and G -> A transitions.
    remove_transitions          = ''

    // Samtools depth of coverage - Enter path to BED file with reference genome positions to include in depth of coverage calculation (e.g. repeat masked BED file)
    // If the BED file is not provided, the entire reference genome will be used for depth calculation.
    // If the BED file is provided, the depth of coverage will be calculated only for the positions specified in the BED file.
    // If the BED file is not provided and 'repeat_cpg_identification' is included in the workflow steps, the generated repeat-masked BED file will be used for depth calculation.
    intervals                   = ''

    // Set position parameter to '-a' to calculates depth of coverage for all positions (including those with zero depth).
    positions                   = '-a'


    /////////////////////////////////////////////////////////////////
    // VARIANT CALLING - BCFtools
    /////////////////////////////////////////////////////////////////

    // BCFTOOLS
    // Set variant_calling_bcftools to 'true' to do variant calling with BCFtools
    variant_calling_bcftools            = 'true'

    // bcftools filters
    bcftools_base_quality               = '30'              // Minimum base quality
    bcftools_keep_non_variant_sites     = 'false'           // Set to 'true' to keep non-variant sites in the output vcf file. beaware that this will increase the size of the output file.
    bcftools_variant_quality            = '30'              // Minimum quality for a variant
    bcftools_variant_min_depth          = '20'              // Minimum depth of coverage for a variant
    bcftools_variant_max_depth          = '50'              // Maximum depth of coverage for a variant
    bcftools_variant_gap_indels         = '5'               // Variant gap size from indels
    bcftools_remove_indels              = 'true'            // Set to 'true' to remove indels
    bcftools_remove_allelic_imbalance   = 'true'            // Set to 'true' to remove allelic imbalance

    /////////////////////////////////////////////////////////////////
    // VARIANT CALLING - ANGSD
    /////////////////////////////////////////////////////////////////

    // ANGSD
    // Set variant_calling_angsd to 'true' to do variant calling with ANGSD
    variant_calling_angsd               = ''

    // ANGSD variant calling filters - these parameters are passed to the ANGSD command line. e.g., '-uniqueOnly 1 -remove_bads 1 -baq 1 -C 50 -minMapQ 25 -minQ 30 -minMaf 0.05 -minInd 1 -SNP_pval 1e-6'
    angsd_filters                       = '-uniqueOnly 1 -remove_bads 1'

    /////////////////////////////////////////////////////////////////
    // Additional parameters
    /////////////////////////////////////////////////////////////////

    // Check "config/modules.config" for additional tool-specific parameters

}

// Nextflow parameters

// Path to work directory for intermediate files
workDir                    = 'work'

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                     = true

// If run with -profile conda or -profile mamba, provide path to centralized directory with conda environments
conda.cacheDir             = null

// If run with -profile apptainer, provide path to centralized directory with apptainer images
apptainer.cacheDir         = null

// Cluster options
params.clusterOptions      = ''

// Compute project ID for Dardel
params.project             = ''