// Template file for custom pipeline configuration

// Pipeline parameters

params {

    // Pipeline inputs

    // Enter full path to samplesheet with sample IDs and paths to fastq files (required)
    samplesheet            = ''
    // Enter path to reference genome assembly (required)
    reference              = ''

    // Optional: if the reads should be mapped to the reference genome assembly concatenated with a decoy genome assembly
    // (e.g. your species' genome plus the human genome) instead of the reference genome assembly alone,
    // enter the path to a fasta file with the reference genome assembly and a decoy genome assembly (e.g. the human genome).
    // A bwa index must be present in the same directory.
    competitive_reference  = ''

    // Pipeline steps to be run (comma-separated list, full list: 'fastq_processing,processed_fastq_qc,mapping,repeat_cpg_identification,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam,variant_calling,stats_output')
    steps                  = 'fastq_processing,processed_fastq_qc,mapping,repeat_cpg_identification,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam,variant_calling,stats_output'

    // Pipeline outputs
    // Enter path to output directory
    outdir                 = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode           = 'copy'


    // Tool specific parameters

    // Fastp
    // Enter minimum read length for a read to be kept after adapter trimming and read merging (default: 20)
    // Optional: set readlength to 'auto', if you want to estimate the lower read length threshold <https://github.com/bilalbioinfo/scripts/blob/main/select_read_len_cuttoff.py>.
    readlength             = '30'

    // bwa-aln
    // Check "config/modules.config" for ancient DNA specific parameters

    // Mapping quality filtering, default '25'
    mapping_quality         = '25'

    // AMBER: samtools view subsample
    // Number of reads to extract for analysis in AMBER with samtools view --subsample
    // For test dataset, set to '1000'. For a standard dataset, set to '1000000'. For refined analysis, set to '10000000'.
    subsample              = '1000000'

    // PRESEQ
    // Set to 'true' to run the preseq lc_extrap analysis on all samples, which predicts the number of unique reads that would be observed as sequencing depth increases.
    preseq                 = 'false'

    // Samtools depth of coverage
    // Enter path to BED file with reference genome positions to include in depth of coverage calculation (e.g. repeat masked BED file)
    // if intervals left empty '' and 'repeat_cpg_identification' is included in the workflow steps, the generated repeat-masked BED file will be used for depth calculation.
    // '' to run depth calculation on the entire reference genome
    intervals              = ''
    // Set position parameter to '-a' calculates depth of coverage for all positions (including those with zero depth).
    // Change to '' to exclude positions with zero depth.
    positions              = '-a'

    // Kraken2
    // Set to 'true' to filter fastq files with Kraken2 database (negative filtering)
    kraken2                = 'false'
    // Enter path to Kraken2 database
    kraken2_db             = ''

    // VARIANT_CALLING
    // Set 'angsd_call' to 'true' to do variant calling with ANGSD
    angsd_call              = 'true'
    // Set 'bcftools_call' to 'true' to do variant calling with bcftools
    bcftools_call          = 'true'
    // Set filters for ANGSD variant calling. e.g. '-uniqueOnly 1 -remove_bads 1 -baq 1 -C 50 -minMapQ 25 -minQ 30 -minMaf 0.05 -minInd 1 -SNP_pval 1e-6'
    angsd_filters          = '-uniqueOnly 1 -remove_bads 1'

    // bcftools variant calling filters
    base_quality            = '30'



    // Check "config/modules.config" for additional tool-specific parameters
}

// Nextflow parameters

// Path to work directory for intermediate files
workDir                    = 'work'

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                     = true

// If run with -profile conda or -profile mamba, provide path to centralized directory with conda environments
conda.cacheDir             = null

// If run with -profile apptainer, provide path to centralized directory with apptainer images
apptainer.cacheDir         = null

// Cluster options
params.clusterOptions      = ''

// Compute project ID for Dardel
params.project             = ''