// Template file for custom pipeline configuration

// Pipeline parameters

params {

    // Pipeline inputs

    // Enter full path to samplesheet with sample IDs and paths to fastq files (required)
    samplesheet            = ''
    // Enter path to reference genome assembly (required)
    reference              = ''

    // Optional: if the reads should be mapped to the reference genome assembly concatenated with a decoy genome assembly
    // (e.g. your species' genome plus the human genome) instead of the reference genome assembly alone,
    // enter the path to a fasta file with the reference genome assembly and a decoy genome assembly (e.g. the human genome).
    // A bwa index must be present in the same directory.
    competitive_reference  = ''

    // Pipeline steps to be run (comma-separated list, full list: 'fastq_processing,processed_fastq_qc,mapping,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam,output_stats')
    steps                  = 'fastq_processing,processed_fastq_qc,mapping,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam,output_stats'

    // Pipeline outputs
    // Enter path to output directory
    outdir                 = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode           = 'copy'


    // Tool specific parameters
    // Fastp
    // Enter minimum read length for a read to be kept after adapter trimming and read merging (default: 20)
    // Optional: set readlength to 'auto', if you want to estimate the lower read length threshold <link to github>.
    readlength             = '20'

    // bwa-aln
    // Check "config/modules.config" for ancient DNA specific parameters

    // Mapping quality filtering, default 25
    mq                     = 25

    // AMBER: samtools view subsample
    // Number of reads to extract for analysis in AMBER with samtools view --subsample
    // For test dataset, set to 1000. For a standard dataset, set to 1000000. For refined analysis, set to 10000000.
    subsample              = 1000000

    // PRESEQ
    // Set to 'true' to run the preseq lc_extrap analysis on all samples, which predicts the number of unique reads that would be observed as sequencing depth increases.
    preseq                 = false

    // Samtools depth
    // '' to exclude positions with zero depth
    // '-a' to output all positions (including those with zero depth)
    positions              = ''
    // Enter path to BED file with reference genome positions to include in depth calculation (e.g. repeat-mask BED file)
    // '' to run depth calculation on the entire reference genome
    intervals              = ''

    // Check "config/modules.config" for additional tool-specific parameters

}

// Nextflow parameters

// Path to work directory for intermediate files
workDir                    = 'work'

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                     = true

// If run with -profile conda or -profile mamba, provide path to centralized directory with conda environments
conda.cacheDir             = null

// If run with -profile apptainer, provide path to centralized directory with apptainer images
apptainer.cacheDir         = null

// Cluster options
params.clusterOptions      = ''

// Compute project ID for Dardel
params.project             = ''