// This file contains process-specific configuration for all workflow steps in DNAharvester.
// The process section defines:
//   - publishDir: Output directory paths and filename handling for each process
//   - ext.args: Additional arguments to be passed to the underlying tools.
//   - errorStrategy: How to handle process failures (alloed values: 'ignore', 'retry', 'finish', 'terminate')

process {
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 1. RAW_FASTQ_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'RFQC_FASTQC' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/0_raw_fastq/fastqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RFQC_MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/0_raw_fastq/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 2. FASTQ_PROCESSING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'FP_FASTP' {
        ext.args   = {
            def readlength = (params.readlength == 'auto') ? 20 : params.readlength
            "-l ${readlength}"
        }
        publishDir = [
            path: { "${params.outdir}/01_processed_fastq/fastp/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_ADAPTERREMOVAL' {
        ext.args   = {
            def readlength = (params.readlength == 'auto') ? 20 : params.readlength
            "--min-length ${readlength}"
        }
        publishDir = [
            path: { "${params.outdir}/01_processed_fastq/adapterremoval/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_ADAPTCLEAN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/01_processed_fastq/adaptclean/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_ADAPTCLEAN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/01_processed_fastq/kraken2/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_KRAKEN2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/01_processed_fastq/kraken2/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 3. PROCESSED_FASTQ_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'PFQC_FASTQC' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/1_processed_fastq/fastqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PFQC_MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/1_processed_fastq/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 4. MAPPING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'M_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_RAW_BAM_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 5. COMPETITIVE MAPPING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'CM_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_SAMTOOLS_INDEX_RAW' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_SAMTOOLS_VIEW_TARGET' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_SAMTOOLS_INDEX_TARGET' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/02_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_FLAGSTAT_DECOY' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/2_raw_bams/samtools-flagstat_decoy/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_MULTIQC_DECOY' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/2_raw_bams/multiqc_decoy/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "decoy_${filename}"}
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 6. RAW_BAM_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'RBQC_SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/2_raw_bams/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RBQC_SAMTOOLS_VIEW_SUBSAMPLE' {
            // Additional arguments (optional)
            ext.args      = { "" }
    }

    withName: 'RBQC_AMBER' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/2_raw_bams/amber/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RBQC_MULTIQC_BAM' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/2_raw_bams/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 7. BAM_PROCESSING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'BP_SAMTOOLS_VIEW_MQ' {
        ext.args   = { "-q ${params.mapping_quality}" } // mapping quality
    }

    withName: 'BP_ESTIMATE_READ_LEN_CUTOFF' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/2_raw_bams/amber/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_AMBER' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/amber/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_MAPDAMAGE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/mapdamage2/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_SAMREMOVEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/03_processed_bams/" },
            mode: params.publish_mode,
            // Only publish if GATK indel realignment is NOT enabled
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                params.indel_realignment.toBoolean() ? null : filename
            }
        ]
    }

    withName: 'BP_SAMREMOVEDUP_SAMPLE_INDEX' {
        publishDir = [
            path: { "${params.outdir}/03_processed_bams/" },
            mode: params.publish_mode,
            // Only publish if GATK indel realignment is NOT enabled
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                params.indel_realignment.toBoolean() ? null : filename
            }
        ]
    }

    withName: 'BP_GATK_INDEL_REALIGNER' {
        publishDir = [
            path: { "${params.outdir}/03_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_GATK_INDEL_REALIGNER_INDEX' {
        publishDir = [
            path: { "${params.outdir}/03_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 8. PROCESSED_BAM_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'PBQC_FLAGSTAT_MQ_FILTERED_BAM' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/mq_filtered_bam/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename ->
                filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_MQ_FILTERED_BAM' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/mq_filtered_bam/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "mq_filtered_bam_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_RM_SHORT_READS_BAM' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/rm_short_reads_bam/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_RM_SHORT_READS_BAM' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/rm_short_reads_bam/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "rm_short_reads_bam_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_MERGED_BAM_LIB' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_lib/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_MERGED_BAM_LIB' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_lib/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "merged_bam_lib_${filename}" }
        ]
    }

    withName: 'PBQC_PRESEQ' {
        ext.args   = { "-s 1000000" } //extrapolation step size for the output curve.
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/preseq/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_PLOT_PRESEQ' {
        ext.args   = { "200" } // Number of values to plot in the curve. if preseq is run with -s 1 million, 200 will plot the number of unique reads predicted for 200 million total read.
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/preseq/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_FLAGSTAT_DEDUP_LIB' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_lib_dedup/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_DEDUP_LIB' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_lib_dedup/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "dedup_lib_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_MERGED_BAM_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_sample/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_MERGED_BAM_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_sample/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "merged_bam_sample_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_DEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_sample_dedup/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_DEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_sample_dedup/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "dedup_sample_${filename}" }
        ]
    }

    withName: 'PBQC_SAMTOOLS_DEPTH_MEAN' {
        // ${params.positions} from custom config file, empty string to exclude positions with zero depth, '-a' to include all positions
        ext.args   = { "${params.positions}" }
        publishDir = [
            path: { "${params.outdir}/00_qc_reports/3_processed_bams/merged_bam_sample_dedup_depth/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 9. MAPPING_METRICS
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'MM_SORT_METRICS_LIB' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/11_mapping_metrics/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MM_SORT_METRICS_SAMPLE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/11_mapping_metrics/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 10. REPEAT_CPG_IDENTIFICATION
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'RCI_CREATE_REPMA_BED' {
        publishDir = [
            path: { "${params.outdir}/04_repeat_cpg_identification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RCI_CREATE_CPG_BED' {
        publishDir = [
            path: { "${params.outdir}/04_repeat_cpg_identification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RCI_CREATE_REPMA_CPG_BED' {
        publishDir = [
            path: { "${params.outdir}/04_repeat_cpg_identification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 11. RANDOM_SAMPLING_BAM_ANGSD_DOHAPLOCALL
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'ANGSD_DOHAPLOCALL' {
        // -minMinor [int] Minimum observed minor alleles; only prints sites with more than minMinor sampled alleles (across individuals).
        // -maxMis [int] maximum allowed missing alleles (accross individuals). -maxMis 0 means only sites without missing alleles are printed
        ext.args   = { "" }
        errorStrategy = 'ignore'
    }

    withName: 'PLINK_RECODE' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/05_random_sampling_bam/angsd_dohaplocall/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HAPLOTOFASTA' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/05_random_sampling_bam/angsd_dohaplocall/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 12. VARIANT_CALLING_BCFTOOLS
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'VCB_BCFTOOLS_CALL' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_RAW_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_BCFTOOLS_FILTER' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_FILTERED_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_BCFTOOLS_RM_INDELS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_RM_INDELS_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_BCFTOOLS_RM_ALLELIC_IMBALANCE' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCB_RM_ALLELIC_IMBALANCE_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 13. VARIANT_CALLING_ANGSD
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'VCA_ANGSD_VARIANT_CALLING' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/angsd/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCA_ANGSD_RAW_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/angsd/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 14. VARIANT_CALLING_DEEPVARIANT
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'VCD_DEEPVARIANT_CALL' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/deepvariant/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCD_RAW_VCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/deepvariant/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCD_DEEPVARIANT_FILTER' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/deepvariant/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'VCD_FILTERED_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/06_variant_calling/deepvariant/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 15. ITERATIVE_ASSEMBLY
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'MAPPING_ITERATIVE_ASSEMBLER' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/07_iterative_assembly/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CONSENSUS_CALL_MIA' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/07_iterative_assembly/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 16. TAXONOMIC_CLASSIFICATION
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'TC_BOWTIE2' {
        ext.args   = { "-k ${params.tc_max_alignments}" } // multi-mapper reads to report in the bam file
        publishDir = [
            path: { "${params.outdir}/08_taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_RAW_BAM_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/08_taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_SAMTOOLS_VIEW_MQ' {
        ext.args   = { "-q ${params.tc_mapping_quality}" } // tc_mapping quality
    }

    withName: 'TC_SAMREMOVEDUP_SAMPLE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/08_taxonomic_classification/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_SAMREMOVEDUP_SAMPLE_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/08_taxonomic_classification/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_SORT_IDXSTATS' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/08_taxonomic_classification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 17. MICROBIAL_SCREENING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'MS_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_RAW_BAM_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_SAMTOOLS_VIEW_MQ' {
        ext.args   = { "-q ${params.ms_mapping_quality}" } // ms_mapping quality
    }

    withName: 'MS_SAMREMOVEDUP_SAMPLE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_SAMREMOVEDUP_SAMPLE_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_FILTERBAM' {
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_FILTERBAM_PLOT' {
        publishDir = [
            path: { "${params.outdir}/09_microbial_screening/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 18. SEXING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'S_X_CHR_SEXING' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/10_sexing/X-chr/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'S_Y_CHR_SEXING' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/10_sexing/Y-chr/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'XY_RATIO_SEXING' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/10_sexing/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}