process {
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // RAW_FASTQ_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'FASTQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/0_raw_fastq/FastQC/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/0_raw_fastq/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // FASTQ_PROCESSING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'FP_FASTP' {
        ext.args   = {
            def readlength = (params.readlength == 'auto') ? 20 : params.readlength
            "-l ${readlength}"
        }
        publishDir = [
            path: { "${params.outdir}/1_processed_fastq/fastp/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_ADAPTCLEAN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/1_processed_fastq/adaptclean/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_ADAPTCLEAN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/1_processed_fastq/kraken2/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FP_FILTER_FASTQ' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/1_processed_fastq/kraken2/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // PROCESSED_FASTQ_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'FASTQC_PROCESSED' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/1_processed_fastq/FastQC/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_PROCESSED' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/1_processed_fastq/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // MAPPING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'M_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'M_RAW_BAM_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // COMPETITIVE MAPPING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'CM_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_SAMTOOLS_INDEX_RAW' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_SAMTOOLS_VIEW_TARGET' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_SAMTOOLS_INDEX_TARGET' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_FLAGSTAT_DECOY' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/2_raw_bams/samtools-flagstat_decoy/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CM_MULTIQC_DECOY' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/2_raw_bams/multiqc_decoy/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "decoy_${filename}"}
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // RAW_BAM_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'RBQC_SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/2_raw_bams/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RBQC_SAMTOOLS_VIEW_SUBSAMPLE' {
            // Additional arguments (optional)
            ext.args      = { "" }
    }

    withName: 'RBQC_AMBER' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/2_raw_bams/AMBER/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RBQC_MULTIQC_BAM' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/2_raw_bams/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // BAM_PROCESSING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'BP_SAMTOOLS_VIEW_MQ' {
        ext.args   = { "-q ${params.mapping_quality}" } // mapping quality
    }

    withName: 'BP_ESTIMATE_READ_LEN_CUTOFF' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/2_raw_bams/AMBER/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_MAPDAMAGE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/mapDamage2/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_SAMREMOVEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_SAMREMOVEDUP_SAMPLE_INDEX' {
        publishDir = [
            path: { "${params.outdir}/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BP_GATK_INDEL_REALIGNER' {
        publishDir = [
            path: { "${params.outdir}/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // PROCESSED_BAM_QC
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'PBQC_FLAGSTAT_MQ_FILTERED_BAM' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/mq_filtered_bam/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename ->
                filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_MQ_FILTERED_BAM' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/mq_filtered_bam/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "mq_filtered_bam_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_RM_SHORT_READS_BAM' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/rm_short_reads_bam/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_RM_SHORT_READS_BAM' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/rm_short_reads_bam/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "rm_short_reads_bam_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_MERGED_BAM_LIB' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_lib/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_MERGED_BAM_LIB' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_lib/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "merged_bam_lib_${filename}" }
        ]
    }

    withName: 'PBQC_PRESEQ' {
        ext.args   = { "-s 1000000" } //extrapolation step size for the output curve.
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/preseq/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_PLOT_PRESEQ' {
        ext.args   = { "200" } // Number of values to plot in the curve. if preseq is run with -s 1 million, 200 will plot the number of unique reads predicted for 200 million total read.
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/preseq/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_FLAGSTAT_DEDUP_LIB' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_lib_dedup/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_DEDUP_LIB' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_lib_dedup/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "dedup_lib_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_MERGED_BAM_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_sample/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_MERGED_BAM_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_sample/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "merged_bam_sample_${filename}" }
        ]
    }

    withName: 'PBQC_FLAGSTAT_DEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_sample_dedup/samtools-flagstat/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBQC_MULTIQC_DEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_sample_dedup/multiqc/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "dedup_sample_${filename}" }
        ]
    }

    withName: 'PBQC_SAMTOOLS_DEPTH_MEAN' {
        // ${params.positions} from custom config file, empty string to exclude positions with zero depth, '-a' to include all positions
        ext.args   = { "${params.positions}" }
        publishDir = [
            path: { "${params.outdir}/0_qc_reports/3_processed_bams/merged_bam_sample_dedup_depth/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }





    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // MICROBIAL_SCREENING
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'MS_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_RAW_BAM_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_SAMTOOLS_VIEW_MQ' {
        ext.args   = { "-q ${params.ms_mapping_quality}" } // ms_mapping quality
    }

    withName: 'MS_SAMREMOVEDUP_SAMPLE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_SAMREMOVEDUP_SAMPLE_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/microbial_screening/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_FILTERBAM' {
        publishDir = [
            path: { "${params.outdir}/microbial_screening/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MS_FILTERBAM_PLOT' {
        publishDir = [
            path: { "${params.outdir}/microbial_screening/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // ITERATIVE_ASSEMBLY
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'MAPPING_ITERATIVE_ASSEMBLER' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/iterative_assembly/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CONSENSUS_CALL_MIA' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/iterative_assembly/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // TAXONOMIC CLASSIFICATION
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'TC_BWA_ALN' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_BWA_MEM' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_BWA_ALN_MEM_MERGE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_BOWTIE2' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_RAW_BAM_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/2_raw_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_SAMTOOLS_VIEW_MQ' {
        ext.args   = { "-q ${params.tc_mapping_quality}" } // tc_mapping quality
    }

    withName: 'TC_SAMREMOVEDUP_SAMPLE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_SAMREMOVEDUP_SAMPLE_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/3_processed_bams/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_SAMTOOLS_IDXSTATS' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/idxstats/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TC_MERGE_IDXSTATS' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/taxonomic_classification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // REPEAT_CPG_IDENTIFICATION
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'CREATE_REPMA_BED' {
        publishDir = [
            path: { "${params.outdir}/repeat_cpg_identification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CREATE_CPG_BED' {
        publishDir = [
            path: { "${params.outdir}/repeat_cpg_identification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CREATE_REPMA_CPG_BED' {
        publishDir = [
            path: { "${params.outdir}/repeat_cpg_identification/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // SEQ_STATS
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'SORT_STATS_LIB' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/9_mapping_statistics/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SORT_STATS_SAMPLE' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/9_mapping_statistics/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Pseudo-haploid variant calling - ANGSD
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'ANGSD_DOHAPLOCALL' {
        // -minMinor [int] Minimum observed minor alleles; only prints sites with more than minMinor sampled alleles (across individuals).
        // -maxMis [int] maximum allowed missing alleles (accross individuals). -maxMis 0 means only sites without missing alleles are printed
        ext.args   = { "" }
        errorStrategy = 'ignore'
    }

    withName: 'PLINK_RECODE' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/random_sampling_bam/angsd_dohaplocall/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HAPLOTOFASTA' {
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/random_sampling_bam/angsd_dohaplocall/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // VARIANT_CALLING and FILTERING - BCFTOOLS
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'BCFTOOLS_CALL' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RAW_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_FILTER' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FILTERED_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_RM_INDELS' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RM_INDELS_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_RM_ALLELIC_IMBALANCE' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RM_ALLELIC_IMBALANCE_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/bcftools/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // VARIANT_CALLING and FILTERING - ANGSD
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    withName: 'ANGSD_VARIANT_CALLING' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/angsd/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANGSD_RAW_BCF_STATS' {
        publishDir = [
            path: { "${params.outdir}/variant_calling/angsd/" },
            mode: params.publish_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}