process {
    executor       = 'slurm'
    clusterOptions = { "-A $params.project" }

    // Process specifications for Rackham
    cpus       = 1
    memory     = 6.GB
    time       = 2.h

    // Tools specfic configurations

    withLabel: process_fastp {
        cpus   = 6
        memory = 36.GB
        time   = 6.h
    }
    withLabel: process_adapterremoval {
        cpus   = 6
        memory = 36.GB
        time   = 6.h
    }
    withLabel: process_bwa_aln {
        cpus   = 12
        memory = 72.GB
        time   = 4.d
    }
    withLabel: process_bwa_samse {
        cpus   = 12
        memory = 72.GB
        time   = 6.h
    }
    withLabel: process_repeatmodeler {
        cpus   = 6
        memory = 32.GB
        time   = 1.d
    }
    withLabel: process_repeatmasker {
        cpus   = 6
        memory = 32.GB
        time   = 1.d
    }
    withLabel: process_angsd {
        cpus   = 3
        memory = 18.GB
        time   = 4.d
    }
    withLabel: process_kraken2 {
        cpus   = 20
        memory = 110.GB
        time   = 6.h
    }
    withLabel: process_mia {
        cpus   = 3
        memory = 18.GB
        time   = 1.d
    }

    withLabel: process_single {
        cpus   = 1
        memory = 6.GB
        time   = 8.h
    }
    withLabel: process_low {
        cpus   = 2
        memory = 12.GB
        time   = 12.h
    }
    withLabel: process_medium {
        cpus   = 6
        memory = 36.GB
        time   = 2.d
    }
    withLabel: process_high {
        cpus   = 12
        memory = 72.GB
        time   = 6.d
    }
    withLabel: process_long {
        cpus   = 2
        memory = 12.GB
        time   = 6.d
    }
    withLabel: process_high_memory {
        cpus   = 20
        memory = 120.GB
        time   = 6.d
    }

}
apptainer {
    enabled    = true
}