// filepath: /cfs/klemming/projects/snic/sllstore2017093/mammoth/bilal/deeptime_pipeline/DNAharvester/configs/dardel/dardel-small.config
// Adapted from https://github.com/nf-core/configs/blob/master/conf/pdc_kth.config

def clusterOptionsCreator = { mem, time, cpus ->
    List clusterOpts = [ "-A $params.project ${params.clusterOptions ?: ''}" ]
    if (time < 7.d && mem <= 222.GB && cpus < 256) {
        clusterOpts << '-p shared'
    } else if (time < 1.d) {
        // Shortish
        if (mem > 222.GB) {
            clusterOpts << '-p memory,main'
        } else {
            clusterOpts << '-p main'
        }
    } else {
        // Not shortish
        if (mem > 222.GB) {
            clusterOpts << '-p memory'
        } else {
            clusterOpts << '-p long'
        }
    }
    return clusterOpts.join(' ')
}

process {
    executor       = 'slurm'
    clusterOptions = { clusterOptionsCreator(task.memory, task.time, task.cpus) }
    // There is no node local storage, but there is a scratch space.
    scratch        = '$PDC_TMP'

    // Modified process specifications for Dardel
    cpus   = 4
    memory = 4.GB
    time   = 1.h

    //////////////////////////////////////////////////////////////////////////////////////////////
    // INPUT CHECK, FASTQ_PROCESSING and QC
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_samplesheet_check        { cpus = 1;  memory = 1.GB;   time = 1.h }
    withLabel: process_gunzip                   { cpus = 1;  memory = 2.GB;   time = 2.h }
    withLabel: process_fastqc                   { cpus = 2;  memory = 2.GB;   time = 2.h }
    withLabel: process_multiqc                  { cpus = 2;  memory = 2.GB;   time = 2.h }
    withLabel: process_fastp                    { cpus = 8;  memory = 8.GB;   time = 2.h }
    withLabel: process_adaptclean               { cpus = 2;  memory = 2.GB;   time = 2.h }
    withLabel: process_kraken2                  { cpus = 20; memory = 110.GB; time = 2.h }
    withLabel: process_filter_fastq             { cpus = 1;  memory = 2.GB;   time = 2.h }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // Mapping
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_bwa_index                { cpus = 4;  memory = 4.GB;  time = 2.h }
    withLabel: process_bwa_aln                  { cpus = 16; memory = 16.GB; time = 12.h }
    withLabel: process_bwa_mem                  { cpus = 16; memory = 16.GB; time = 12.h }
    withLabel: process_bwa_samse                { cpus = 16; memory = 16.GB; time = 2.h }
    withLabel: process_bwa_aln_mem              { cpus = 16; memory = 16.GB; time = 12.h }
    withLabel: process_split_fastq              { cpus = 2;  memory = 2.GB;  time = 2.h }
    withLabel: process_bowtie2_build            { cpus = 4;  memory = 4.GB;  time = 2.h }
    withLabel: process_bowtie2                  { cpus = 8;  memory = 8.GB;  time = 4.h }
    withLabel: process_samtools_faidx           { cpus = 1;  memory = 1.GB;  time = 1.h }
    withLabel: process_fai_to_bed               { cpus = 1;  memory = 1.GB;  time = 1.h }
    withLabel: process_samtools_view_regions    { cpus = 2;  memory = 2.GB;  time = 2.h }
    withLabel: process_fai2bed                  { cpus = 1;  memory = 1.GB;  time = 1.h }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // RAW_BAM_QC, BAM_PROCESSING and QC
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_amber                        { cpus = 1;  memory = 2.GB;  time = 2.h  }
    withLabel: process_create_amber_samplesheet     { cpus = 1;  memory = 1.GB;  time = 1.h  }
    withLabel: process_estimate_read_len_cutoff     { cpus = 1;  memory = 1.GB;  time = 1.h  }
    withLabel: process_mapdamage2                   { cpus = 4;  memory = 4.GB;  time = 4.h  }
    withLabel: process_deamstrip                    { cpus = 1;  memory = 2.GB;  time = 2.h  }
    withLabel: process_rm_transitions               { cpus = 1;  memory = 2.GB;  time = 2.h  }
    withLabel: process_samtools_view_subsample      { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_samtools_view_mq             { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_rm_short_reads               { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_samtools_merge               { cpus = 4;  memory = 4.GB;  time = 2.h  }
    withLabel: process_samremovedup                 { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_samtools_flagstat            { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_samtools_depth_mean          { cpus = 4;  memory = 4.GB;  time = 6.h  }
    withLabel: process_samtools_idxstats            { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_samtools_unmapped_reads      { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_preseq                       { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_plot_preseq                  { cpus = 1;  memory = 1.GB;  time = 1.h  }
    withLabel: process_gatk_indel_realigner         { cpus = 4;  memory = 4.GB;  time = 6.h  }


    //////////////////////////////////////////////////////////////////////////////////////////////
    // MAPPING_ITERATIVE_ASSEMBLER
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_mapping_iterative_assembler  { cpus = 4; memory = 4.GB; time = 6.h }
    withLabel: process_consensus_call_mia           { cpus = 2; memory = 2.GB; time = 2.h }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // REPEAT_CPG_IDENTIFICATION
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_repeatmodeler            { cpus = 4;  memory = 4.GB;  time = 12.h }
    withLabel: process_repeatmasker             { cpus = 4;  memory = 4.GB;  time = 6.h  }
    withLabel: process_create_cpg_bed           { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_create_repeats_bed       { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_create_repma_bed         { cpus = 2;  memory = 2.GB;  time = 2.h  }
    withLabel: process_create_repma_cpg_bed     { cpus = 2;  memory = 2.GB;  time = 2.h  }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // STATS OUTPUT
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_mapping_metrics_lib            { cpus = 2;  memory = 2.GB;  time = 2.h }
    withLabel: process_mapping_metrics_sample         { cpus = 2;  memory = 2.GB;  time = 2.h }
    withLabel: process_sort_stats               { cpus = 1;  memory = 1.GB;  time = 1.h }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // VARIANT_CALLING
    //////////////////////////////////////////////////////////////////////////////////////////////

    // BCFTools
    withLabel: process_bcftools_call                    { cpus = 4; memory = 4.GB; time = 6.h }
    withLabel: process_bcftools_filter                  { cpus = 2; memory = 2.GB; time = 2.h }
    withLabel: process_bcftools_rm_indels               { cpus = 2; memory = 2.GB; time = 2.h }
    withLabel: process_bcftools_rm_allelic_imbalance    { cpus = 2; memory = 2.GB; time = 2.h }
    withLabel: process_bcftools_stats                   { cpus = 2; memory = 2.GB; time = 2.h }

    // ANGSD
    withLabel: process_angsd_dohaplocal                 { cpus = 8; memory = 8.GB; time = 6.h }
    withLabel: process_angsd_haplotoplink               { cpus = 4; memory = 4.GB; time = 2.h }
    withLabel: process_angsd_variant_calling            { cpus = 8; memory = 8.GB; time = 6.h }
    withLabel: process_haplotofasta                     { cpus = 2; memory = 2.GB; time = 2.h }
    withLabel: process_plink_recode                     { cpus = 2; memory = 2.GB; time = 2.h }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // MICROBIAL_SCREENING
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_filterbam            { cpus = 8;  memory = 48.GB; time = 6.h }
    withLabel: process_filterbam_plot       { cpus = 8;  memory = 48.GB; time = 2.h }

    //////////////////////////////////////////////////////////////////////////////////////////////
    // Others/Shared
    //////////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_bedtools_subtract    { cpus = 2;  memory = 2.GB;  time = 2.h }
    withLabel: process_merge_idxstats       { cpus = 2;  memory = 2.GB;  time = 1.h }
    withLabel: process_samtools_index       { cpus = 2;  memory = 2.GB;  time = 2.h }
}
apptainer {
    enabled        = true
    envWhitelist   = 'PDC_TMP'
}