// Template file for pipeline configuration

// Pipeline parameters

// Pipeline inputs

// Enter path to samplesheet with sample IDs, read pairment (single-end or paired-end) and paths to fastq files
// TO DO expand samplesheet to include info on strandedness and damage treatment
params.samplesheet        = null
// Enter path to reference genome assembly
params.reference          = null

// Pipeline steps to be run (comma-separated list, e.g. 'merge_reads,mapping,data_qc')
params.steps              = 'merge_reads'

// Pipeline outputs
// Enter path to output directory
params.outdir             = 'results'

// Mode of copying results from the work directory, values 'symlink' or 'copy'
params.publish_mode       = 'copy'


// Tool specific parameters
// Fastp

// bwa-aln

// samtools view

// AMBER

// MapDamage2



// Nextflow parameters

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                   = true

// If run with --profile conda, provide path to centralized directory with conda environments
conda.cacheDir           = null

// If run with --profile singularity, provide path to centralized directory with singularity images
singularity.cacheDir     = null

// Cluster options, e.g. for the UPPMAX compute project (like '-A snicxxx-yyy')
process.clusterOptions   = null
