// Adapted from https://github.com/nf-core/configs/blob/master/conf/pdc_kth.config

def clusterOptionsCreator = { mem, time, cpus ->
    List clusterOpts = [ "-A $params.project ${params.clusterOptions ?: ''}" ]
    if (time < 7.d && mem <= 222.GB && cpus < 256) {
        clusterOpts << '-p shared'
    } else if (time < 1.d) {
        // Shortish
        if (mem > 222.GB) {
            clusterOpts << '-p memory,main'
        } else {
            clusterOpts << '-p main'
        }
    } else {
        // Not shortish
        if (mem > 222.GB) {
            clusterOpts << '-p memory'
        } else {
            clusterOpts << '-p long'
        }
    }
    if (!mem || mem < 6.GB) {
        // Impose minimum memory if request is below
        clusterOpts << '--mem=6G'
    }
    return clusterOpts.join(' ')
}

process {
    executor       = 'slurm'
    clusterOptions = { clusterOptionsCreator(task.memory, task.time, task.cpus) }
    // There is no node local storage, but there is a scratch space.
    scratch        = '$PDC_TMP'

    // Modified process specifications for Dardel
    cpus   = 8
    memory = 8.GB
    time   = 2.h

    withLabel: process_single {
        cpus   = 8
        memory = 8.GB
        time   = 8.h
    }
    withLabel: process_low {
        cpus   = 16
        memory = 16.GB
        time   = 12.h
    }
    withLabel: process_medium {
        cpus   = 32
        memory = 32.GB
        time   = 2.d
    }
    withLabel: process_high {
        cpus   = 64
        memory = 64.GB
        time   = 6.d
    }
    withLabel: process_long {
        cpus   = 16
        memory = 16.GB
        time   = 6.d
    }
    withLabel: process_high_memory {
        memory = 200.GB
    }

}
singularity {
    enabled        = true
    envWhitelist   = 'PDC_TMP'
}