process {

    // MERGE_FILTER_READS
    withName: 'FASTP' {
        ext.args   = { "-l ${params.readlength}" }
        publishDir = [
            path: { "${params.outdir}/fastq_files/processed_reads/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // MAPPING
    withName: 'BWA_INDEX' {
        ext.args   = { "-a bwtsw" } // for large genomes (size of human genome). Override in custom config file.
    }

    withName: 'BWA_ALN' {
        ext.args   = { "-l 16500 -n 0.01 -o 2" } // mapping parameters for ancient DNA
    }

    withName: 'BWA_SAMSE' {
        publishDir = [
            path: { "${params.outdir}/bam_files/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // DATA_QC
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/data_qc/fastq_files/raw_reads/FastQC/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTQC_PROCESSED' {
        publishDir = [
            path: { "${params.outdir}/data_qc/fastq_files/processed_reads/FastQC/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/data_qc/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MAPDAMAGE2' {
        publishDir = [
            path: { "${params.outdir}/data_qc/bam_files/MapDamage2/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'AMBER' {
        publishDir = [
            path: { "${params.outdir}/data_qc/bam_files/AMBER/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMREMOVEDUP' {
        publishDir = [
            path: { "${params.outdir}/bam_files/samremovedup/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_MERGE' {
        publishDir = [
            path: { "${params.outdir}/bam_files/merged_bam_files/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}