process {
    // INPUT_CHECK
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/data_qc/raw_fastq/FastQC/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/data_qc/raw_fastq/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // FASTQ_PROCESSING
    withName: 'FASTP' {
        ext.args   = { "-l ${params.readlength}" }
        publishDir = [
            path: { "${params.outdir}/processed_fastq/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // MAPPING
    withName: 'BWA_INDEX' {
        ext.args   = { "-a ${params.algorithm}" } // for large genomes (size of human genome). Override in custom config file.
    }

    withName: 'BWA_ALN' {
        ext.args   = { "-l 16500 -n 0.01 -o 2" } // mapping parameters for ancient DNA
    }

    withName: 'BWA_SAMSE' {
        publishDir = [
            path: { "${params.outdir}/raw_bams/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // BAM_PROCESSING
    withName: 'GATK_INDELREALIGNER' {
        publishDir = [
            path: { "${params.outdir}/processed_bams/merged2_dedup2_realigned/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // PROCESSED_FASTQ_RAW_BAM_QC
    withName: 'FASTQC_PROCESSED' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_fastq/FastQC/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_fastq/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MAPDAMAGE2' {
        publishDir = [
            path: { "${params.outdir}/data_qc/raw_bams/MapDamage2/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'AMBER' {
        publishDir = [
            path: { "${params.outdir}/data_qc/raw_bams/AMBER/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUALIMAP_BAMQC' {
        publishDir = [
            path: { "${params.outdir}/data_qc/raw_bams/QualiMap/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_BAM' {
        publishDir = [
            path: { "${params.outdir}/data_qc/raw_bams/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // PROCESSED_BAM_QC
    withName: 'QUALIMAP_MERGED_BAM_INDEX' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged1/QualiMap/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_MERGED_BAM_INDEX' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged1/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUALIMAP_DEDUP_INDEX' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged1_dedup1/QualiMap/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_DEDUP_INDEX' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged1_dedup1/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUALIMAP_MERGED_BAM_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged2/QualiMap/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_MERGED_BAM_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged2/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUALIMAP_DEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged2_dedup2/QualiMap/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_DEDUP_SAMPLE' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged2_dedup2/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUALIMAP_REALIGNED' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged2_dedup2_realigned/QualiMap/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_REALIGNED' {
        publishDir = [
            path: { "${params.outdir}/data_qc/processed_bams/merged2_dedup2_realigned/multiqc/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // RANDOM_SAMPLING_BAM
    withName: 'ANGSD_DOHAPLOCALL' {
        // -minMinor [int] Minimum observed minor alleles; only prints sites with more than minMinor sampled alleles (across individuals). 
        // -maxMis [int] maximum allowed missing alleles (accross individuals). -maxMis 0 means only sites without missing alleles are printed
        ext.args   = { "" } 
        publishDir = [
            path: { "${params.outdir}/random_sampling_bam/angsd_dohaplocall/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANGSD_HAPLOTOPLINK' {
        publishDir = [
            path: { "${params.outdir}/random_sampling_bam/angsd_dohaplocall/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}