process {

    // MERGE_FILTER_READS
    withName: 'FASTP' {
        ext.args   = { "-l ${params.readlength}" }
        publishDir = [
            path: { "${params.outdir}/read_processing/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}