process {
    executor       = 'slurm'
    clusterOptions = { "-A $params.project" }
    // Use node local storage for execution.
    scratch        = '$SNIC_TMP'

    // Process specifications for Rackham
    cpus       = 1
    memory     = 6.GB
    time       = 2.h

    withLabel: process_single {
        cpus   = 1
        memory = 6.GB
        time   = 8.h
    }
    withLabel: process_low {
        cpus   = 2
        memory = 12.GB
        time   = 12.h
    }
    withLabel: process_medium {
        cpus   = 6
        memory = 36.GB
        time   = 2.d
    }
    withLabel: process_high {
        cpus   = 12
        memory = 72.GB
        time   = 6.d
    }
    withLabel: process_long {
        cpus   = 2
        memory = 12.GB
        time   = 6.d
    }
    withLabel: process_high_memory {
        cpus   = 20
        memory = 120.GB
        time   = 6.d
    }

}
singularity {
    enabled    = true
}