// Nextflow configuration file

manifest {
    name                      = 'Read Harvester pipeline'
    author                    = 'Verena Kutschera'
    homePage                  = 'https://github.com/NBISweden/LTS-L_Dalen_2302/read-harvester'
    description               = 'A novel pipeline for processing and analyzing extremely degraded DNA'
    mainScript                = 'main.nf'
    //  '!>=23.04.1' : Run with version 23.04.1 or higher, otherwise exit.
    nextflowVersion           = '!>=23.04.1'
    version                   = '0.1'
}

// Default pipeline parameters
// Override them in configs/custom.config
params {

    // Pipeline inputs

    // Enter full path to samplesheet with sample IDs and paths to fastq files (incl. information if single-end or paired-end)
    // TO DO expand samplesheet to include info on strandedness and damage treatment
    samplesheet               = null
    // Enter path to reference genome assembly
    reference                 = null

    // Pipeline steps to be run (comma-separated list, e.g. 'fastq_processing,mapping,raw_processed_mapped_reads_qc')
    steps                     = 'fastq_processing'

    // Pipeline outputs
    // Enter path to output directory
    outdir                    = 'results'
    // Enter path to work directory for this run (remove directory after a successful run)
    workDir                   = 'work_run1'
    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode              = 'copy'


    // Tool specific parameters
    // Additional parameters are defined in 'configs/module.config' 
    // (see below for instructions to override additional parameters)

    // Fastp
    // Enter minimum read length for a read to be kept after adapter trimming and read merging
    readlength                = 20

    // MultiQC
    multiqc_config            = null
    multiqc_extra_config      = null
    multiqc_logo              = null

}

// Module- (tool-)specific parameter configurations
// If required, override tool-specific parameters here using process selectors, 
// i.e. the same syntax as in 'configs/modules.config'
includeConfig 'configs/modules.config'

// Process-specific resource requirements using default nf-core labels
includeConfig 'configs/nf-core-label.config'


// Profiles for pipeline execution

profiles {

    conda {
        conda.enabled         = true
    }

    mamba {
        conda.enabled         = true
        conda.useMamba        = true
    }

    docker {
        docker.enabled        = true
        docker.userEmulation  = true
    }

    singularity {
        singularity.enabled   = true
    }

    execution_report {
        timeline {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_timeline.html"
        }
        report {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_report.html"
        }
        trace {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_trace.txt"
        }
        dag {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/pipeline_dag.mmd"
        }
    }

    // Test profiles
    test {
        params {
            samplesheet       = null
            reference         = null
        }
    }

    // Profiles for the Uppmax clusters
    uppmax {
        params {
            // SNIC compute allocation id
            project           = ''
        }
        process {
            executor          = 'slurm'
            clusterOptions    = { "-A $params.project" }
            // Use node local storage for execution.
            scratch           = '$SNIC_TMP'
        }
        singularity {
            enabled         = true
            envWhitelist    = 'SNIC_TMP'
        }
    }

    // A profile for running locally with Singularity
    // (e.g., using an interactive Uppmax session)
    uppmax_local {
        process {
            executor          = 'local'
            scratch           = '$SNIC_TMP'
        }
        singularity {
            enabled           = true
            envWhitelist      = 'SNIC_TMP'
        }
    }
}

