// Nextflow configuration file

manifest {
    name                      = 'Read Harvester pipeline'
    author                    = 'Verena Kutschera'
    homePage                  = 'https://github.com/NBISweden/LTS-L_Dalen_2302/read-harvester'
    description               = 'A novel pipeline for processing and analyzing extremely degraded DNA'
    mainScript                = 'main.nf'
    //  '!>=23.04.1' : Run with version 23.04.1 or higher, otherwise exit.
    nextflowVersion           = '!>=23.04.1'
    version                   = '0.1'
}

// Default pipeline parameters
// Override them in assets/custom.config
params {

    // Pipeline inputs

    // Enter full path to samplesheet with sample IDs and paths to fastq files (required)
    samplesheet            = ''
    // Enter path to reference genome assembly (required)
    reference              = ''

    // Optional: if the reads should be mapped to the reference genome assembly concatenated with a decoy genome assembly 
    // (e.g. your species' genome plus the human genome) instead of the reference genome assembly alone, 
    // enter the path to a fasta file with the reference genome assembly and a decoy genome assembly (e.g. the human genome). 
    // A bwa index must be present in the same directory. 
    competitive_reference  = ''

    // Pipeline steps to be run (comma-separated list, full list: 'fastq_processing,processed_fastq_qc,mapping,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam')
    steps                  = 'fastq_processing,processed_fastq_qc,mapping,raw_bam_qc,bam_processing,processed_bam_qc,random_sampling_bam'

    // Pipeline outputs
    // Enter path to output directory
    outdir                 = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode           = 'copy'


    // Tool specific parameters
    // Additional parameters are defined in 'configs/module.config'
    // (see below for instructions to override additional parameters)

    // Fastp
    // Enter minimum read length for a read to be kept after adapter trimming and read merging (default: 20)
    readlength             = 20

    // Optional: Set read_len_cutoff to "auto" if you want to estimate the lower read length threshold using script <link to github>.
    read_len_cutoff        = 'auto'

    // bwa-aln
    // Check "config/modules.config" for ancient DNA specific parameters

    // Mapping quality filtering, default 25
    mq                     = 25

    // AMBER: samtools view subsample
    // Number of reads to extract for analysis in AMBER with samtools view --subsample
    // For test dataset, set to 1000. For a standard dataset, set to 1000000. For refined analysis, set to 10000000.
    subsample              = 1000000

    // Samtools depth
    // '' to exclude positions with zero depth
    // '-a' to output all positions (including those with zero depth)
    positions              = ''
    // Enter path to BED file with reference genome positions to include in depth calculation (e.g. repeat-mask BED file)
    // '' to run depth calculation on the entire reference genome
    intervals              = ''

    // MultiQC
    multiqc_config         = null
    multiqc_extra_config   = null
    multiqc_logo           = null

}

// Module- (tool-)specific parameter configurations
// If required, override tool-specific parameters here using process selectors,
// i.e. the same syntax as in 'configs/modules.config'
includeConfig 'configs/modules.config'

// Profiles for pipeline execution

profiles {

    conda {
        conda.enabled         = true
    }

    mamba {
        conda.enabled         = true
        conda.useMamba        = true
    }

    docker {
        docker.enabled        = true
    }

    apptainer {
        apptainer.enabled   = true
    }

    execution_report {
        timeline {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_timeline.html"
        }
        report {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_report.html"
        }
        trace {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/execution_trace.txt"
        }
        dag {
            enabled           = true
            file              = "${params.outdir}/pipeline_info/pipeline_dag.mmd"
        }
    }

    // Test profiles
    test {
        params {
            samplesheet       = null
            reference         = null
        }
    }

    // Profiles for the Uppmax clusters
    uppmax {
        includeConfig 'configs/uppmax.config'
    }

    // Profiles for the PDC cluster Dardel
    dardel {
        includeConfig 'configs/dardel.config'
    }

}

// limit resources for test runs with small dataset
process {

    cpus   = 1
    memory = 6.GB
    time   = 1.h

    withLabel: process_single {
        cpus   = 1
        memory = 6.GB
        time   = 1.h
    }
    withLabel: process_low {
        cpus   = 2
        memory = 6.GB
        time   = 1.h
    }
    withLabel: process_medium {
        cpus   = 2
        memory = 6.GB
        time   = 1.h
    }
    withLabel: process_high {
        cpus   = 2
        memory = 6.GB
        time   = 2.h
    }
    withLabel: process_long {
        time   = 1.h
    }
    withLabel: process_high_memory {
        memory = 6.GB
    }
}